.navbar{
  background-color: #E3E8F8;

}

.navbar-nav{
  column-gap: 1rem;
  align-items: center;
}
.nav-link{
  color: #203562;
  font-family: 'Poppins';
  font-weight: 500;
}
.nav-link.hover{
  color: #3E588F;
}
.nav-link.active{
  font-weight: 600;
}

.btn-primary{
  background-color: #203562;
  border: #203562;
  padding: 8px 22px;
  border-radius: 7px;
  font-weight: 500;
  font-family: 'Open Sans';
}
.btn-primary:hover{
  background-color: #3E588F;
  border: #3E588F;

}